@charset "UTF-8";
@import "./common/var.css";

.e8-col-1, .e8-col-2, .e8-col-3, .e8-col-4, .e8-col-5, .e8-col-6, .e8-col-7, .e8-col-8, .e8-col-9, .e8-col-10, .e8-col-11, .e8-col-12, .e8-col-13, .e8-col-14, .e8-col-15, .e8-col-16, .e8-col-17, .e8-col-18, .e8-col-19, .e8-col-20, .e8-col-21, .e8-col-22, .e8-col-23, .e8-col-24 {
  float: left;
  box-sizing: border-box;
}
.e8-col-0 {
  width: 0;
}

@for $i from 0 to 24 {
  .e8-col-$i {
    width: calc(1 / 24 * $(i) * 100)%;
  }
  .e8-col-offset-$i {
    margin-left: calc(1 / 24 * $(i) * 100)%;
  }
  .e8-col-pull-$i {
    position: relative;
    right: calc(1 / 24 * $(i) * 100)%;
  }
  .e8-col-push-$i {
    position: relative;
    left: calc(1 / 24 * $(i) * 100)%;
  }
}

@media (max-width: 768px) {
  @for $i from 0 to 24 {
    .e8-col-xs-$i {
      width: calc(1 / 24 * $(i) * 100)%;
    }
    .e8-col-xs-offset-$i {
      margin-left: calc(1 / 24 * $(i) * 100)%;
    }
    .e8-col-xs-pull-$i {
      position: relative;
      right: calc(1 / 24 * $(i) * 100)%;
    }
    .e8-col-xs-push-$i {
      position: relative;
      left: calc(1 / 24 * $(i) * 100)%;
    }
  }
}

@media (min-width: 768px) {
  @for $i from 0 to 24 {
    .e8-col-sm-$i {
      width: calc(1 / 24 * $(i) * 100)%;
    }
    .e8-col-sm-offset-$i {
      margin-left: calc(1 / 24 * $(i) * 100)%;
    }
    .e8-col-sm-pull-$i {
      position: relative;
      right: calc(1 / 24 * $(i) * 100)%;
    }
    .e8-col-sm-push-$i {
      position: relative;
      left: calc(1 / 24 * $(i) * 100)%;
    }
  }
}
@media (min-width: 992px) {
  @for $i from 0 to 24 {
    .e8-col-md-$i {
      width: calc(1 / 24 * $(i) * 100)%;
    }
    .e8-col-md-offset-$i {
      margin-left: calc(1 / 24 * $(i) * 100)%;
    }
    .e8-col-md-pull-$i {
      position: relative;
      right: calc(1 / 24 * $(i) * 100)%;
    }
    .e8-col-md-push-$i {
      position: relative;
      left: calc(1 / 24 * $(i) * 100)%;
    }
  }
}
@media (min-width: 1200px) {
  @for $i from 0 to 24 {
    .e8-col-lg-$i {
      width: calc(1 / 24 * $(i) * 100)%;
    }
    .e8-col-lg-offset-$i {
      margin-left: calc(1 / 24 * $(i) * 100)%;
    }
    .e8-col-lg-pull-$i {
      position: relative;
      right: calc(1 / 24 * $(i) * 100)%;
    }
    .e8-col-lg-push-$i {
      position: relative;
      left: calc(1 / 24 * $(i) * 100)%;
    }
  }
}
